// Don't display markup for colors since we are just showing swatches.
// scss-lint:disable IdSelector
#kssref-colors .kss-markup {
  display: none;
}
// scss-lint:enable IdSelector

.sg-swatch-group {
  display: flex;
  flex-wrap: wrap;
}

.sg-swatch {
  margin: 0 20px 40px 0;
  text-align: center;
}

  .sg-swatch__preview {
    @include size(300px 150px);
    margin: 0 auto;
    border: 1px solid $color--dark;
  }

  .sg-swatch__details {
    padding-top: 10px;
    font-family: monospace;
    font-size: 16px;
    white-space: nowrap;

    &::before,
    &::after {
      display: block;
    }
  }

@each $color-name in map-keys($sg-colors) {
  .sg-swatch[data-color-name='#{$color-name}'] {
    .sg-swatch__preview {
      background-color: map-get($sg-colors, $color-name);
    }

    .sg-swatch__details {
      &::before {
        content: '#{map-get($sg-colors, $color-name)}';
      }

      &::after {
        content: '$color--#{$color-name}';
      }
    }
  }
}

