.sg-swatch {
  text-align: center;

  &::after {
    font-family: monospace;
    white-space: nowrap;
  }

  .sg-swatch__color {
    @include size(100px);
    margin: 0 auto;
  }
}

.sg-swatch--text {
  .sg-swatch__color {
    background-color: $color--text;
  }

  &::after {
    content: '$color--text';
  }
}

.sg-swatch--active {
  .sg-swatch__color {
    background-color: $color--active;
  }

  &::after {
    content: '$color--active';
  }
}

.sg-swatch--nav {
  .sg-swatch__color {
    background-color: $color--nav;
  }

  &::after {
    content: '$color--nav';
  }
}

.sg-swatch--hover {
  .sg-swatch__color {
    background-color: $color--hover;
  }

  &::after {
    content: '$color--hover';
  }
}
