// Base
//
// How basic elements are styled.
//
// Weight: -20
//
// Styleguide Base

html,
body {
  height: 100%;
}

body {
  position: relative;
}

// Paragraph
//
// Basic paragraph content
//
// Markup:
// <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
//
// Weight: 20
//
// Styleguide Base.Paragraph

// Lists
//
// Weight: 50
//
// Styleguide Base.List

// Ordered List
//
// Markup:
// <ol>
//  <li>Item 1</li>
//  <li>Item 2</li>
// </ol>
//
// Styleguide Base.List.OrderedList

// Unordered List
//
// Markup:
// <ul>
//  <li>Apple</li>
//  <li>Banana</li>
//  <li>Mango</li>
// </ul>
//
// Styleguide Base.List.UnorderedList
ul {
  padding: 0;
  list-style: none;
}


// Link
//
// A basic link
//
// Markup: <a href="#">Click Me!</a>
//
// Styleguide Base.Link
a {
  text-decoration: none;
}

// Image
//
// A basic image. Images are “fluid” by default and will resize down to fit the width of their container
//
// Markup:
// <div style="width: 200px"><img src="http://placehold.it/350x150"></div>
//
// Styleguide Base.Image
img {
  max-width: 100%;
  height: auto;
}

