// Typography
//
// Weight: -20
//
// Styleguide Typography

body {
  color: $t-text-color;
  font-family: $t-font-family;
  line-height: ($t-line-height / $t-font-size);

  @include primary-font-loaded {
    font-family: $t-font-family--primary;
  }
}

// Headings
//
// Styleguide Typography.Headings

// heading resets
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

// h1
//
// Main heading
//
// Markup:
// <h1 class="b-main-heading">A Main Heading</h1>
//
// Styleguide Typography.Headings.h1
h1,
.b-main-heading {
}

// h2
//
// Sub heading
//
// Markup:
// <h2 class="b-sub-heading">A Sub Heading</h1>
//
// Styleguide Typography.Headings.h2
h2,
.b-sub-heading {
  @include font-weight(normal);
  margin: 0 0 10px;
  font-size: em(30px);
  line-height: (36 / 30);
  text-align: center;

  @include accent-font-loaded {
    @include font-weight(normal, accent);
    font-family: $t-font-family--accent;
  }
}

// h3
//
// Section heading
//
// Markup:
// <h3 class="b-section-heading">A Section Heading</h1>
//
// Styleguide Typography.Headings.h3
h3,
.b-section-heading {
  @include font-weight(bold);
  margin: 0 0 15px;
  font-size: em(22px);
  line-height: (30 / 22);

  @include accent-font-loaded {
    @include font-weight(bold, accent);
    font-family: $t-font-family--accent;
  }
}





