// Sass Mixins
//
// Styleguide Sass.Mixins

// Font Mixins
//
// Styleguide Sass.Mixins.Fonts

// primary-font-loaded
//
// Selector wrapper to apply styles only when the primary font is loaded.
//
// Compatible in all browsers
//
// Weight: 10
//
// Styleguide Sass.Mixins.Fonts.Primary Font Loaded
@mixin primary-font-loaded {
  @at-root .html__font-loaded--primary #{&} {
    @content;
  }
}

// secondary-font-loaded
//
// Selector wrapper to apply styles only when the secondary font is loaded.
//
// Compatible in all browsers.
//
// Weight: 20
//
// Styleguide Sass.Mixins.Fonts.Secondary Font Loaded
@mixin secondary-font-loaded {
  @at-root .html__font-loaded--secondary #{&} {
    @content;
  }
}

// accent-font-loaded
//
// Selector wrapper to apply styles only when the accent font is loaded.
//
// Compatible in all browsers.
//
// Weight: 30
//
// Styleguide Sass.Mixins.Fonts.Accent Font Loaded
@mixin accent-font-loaded {
  @at-root .html__font-loaded--accent #{&} {
    @content;
  }
}

// font-weight
//
// Centralize font weights in one place, in case they need to be tweaked for specific fonts.
//
// Compatible in all browsers.
//
// Weight: 40
//
// Styleguide Sass.Mixins.Fonts.font-weight
@mixin font-weight($weight: normal, $font: primary) {
  @if $weight == light {
    font-weight: 300;
  } @else if $weight == normal {
    font-weight: 400;
  } @else if $weight == bold {
    font-weight: 500;
  } @else if $weight == heavy {
    font-weight: 700;
  } @else {
    @error "Unknown $weight, was #{$weight}"
  }
}
