<div class="c-hero">
  <div class="l-container">
    <div class="c-hero__body">
      <h1 class="c-hero__title">San Antonio <time>October 17-19, 2016</time></h1>
      <p class="c-hero__description">The 1st Conference Dedicated to CSS returns for its fifth year —  deep in the ❤ of Texas</p>
      <div class="c-button-group">
        {{> button button-href="#" button-text="Register"}}
        {{> button button-href="#" button-text="Learn More" button-classes="c-button--ghost"}}
      </div>
    </div>
    <div class="c-hero__media">
      <img src="images/hero-spot.jpeg" class="c-hero__spot" alt="CSS Dev Conf text over Alamo image">
    </div>
  </div>
</div>

