<div class="c-speaker">
  <div class="c-speaker__media">
    <a href="c-speaker__link"><img src="images/chris-coyier.jpeg" class="c-speaker__headshot" alt="Chris Coyier Headshot"></a>
  </div>
  <div class="c-speaker__body">
    <h3 class="c-speaker__name">Chris Coyier</h3>
    <p class="c-speaker__byline">Featured Speaker</p>
  </div>
</div>
