{{!-- layouts/default.hbs --}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>CSS Dev Conf 2016</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto|Roboto+Slab" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto|Roboto+Slab"></noscript>
    <script>
      {{> static/fontfaceobserver}}
      {{> static/load_font_events}}
      {{> static/loadcss}}
    </script>
  </head>
  <body>
    {{#> primary-nav-block}}
      {{> navigation/nav--primary}}
    {{/primary-nav-block}}
    {{> hero-block}}
    {{> content-block}}
  </body>
</html>
