{{!-- layouts/default.hbs --}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>CSS Dev Conf 2016</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
  </head>
  <body>
    {{#> primary-nav-block}}
      {{> navigation/nav--primary}}
    {{/primary-nav-block}}
    {{> hero-block}}
    {{> content-block}}
  </body>
</html>
