$lt-bg-color: $color--grey-222;
$lt-color: #e4e8eb;
$lt-link-color: #939596;
$lt-link-color--hover: #d2d7d9;

.g-footer {
  @include padding(42px null);
  background: url('images/texture.png')  0 0 / 306px $lt-bg-color;
  color: $lt-color;
}

  .g-footer__contact {
    @include span-columns(6);
  }

  .g-footer__menu {
    @include span-columns(2);
  }

  .g-footer__title {
    margin-top: 0;
    background: url('images/texture.png');
    text-transform: uppercase;

    @include condensed-font-loaded {
      @include font-weight(normal, $t-font--condensed);
      font-family: $t-font-family--condensed;
    }
  }

  .g-footer__link {
    display: block;
    transition: color 300ms ease;
    color: $lt-link-color;

    &:hover {
      color: $lt-link-color--hover;
    }
  }
