$lt-bg-color: $color--white;

// Site Header
//
// The header for the site
//
// Markup: site-header.hbs
//
// Weight: 0
//
// Styleguide Globals.SiteHeader
.g-header {
  @include position(fixed, 0 0 null 0);
  background: $lt-bg-color;
  z-index: 10;
}
