    <footer class="c-section g-footer">
      <div class="l-container">
        <div class="g-footer__contact">
          {{> site-logo logo-footer="true"}}
        </div>
        <div class="g-footer__menu">
          <h4 class="g-footer__title">Conference</h4>
          <a href="#" class="g-footer__link">Home</a>
          <a href="#" class="g-footer__link">Speakers</a>
          <a href="#" class="g-footer__link">Details</a>
          <a href="#" class="g-footer__link">Hotel & Venue</a>
          <a href="#" class="g-footer__link">Our Sponsors</a>
          <a href="#" class="g-footer__link">Register</a>
        </div>
        <div class="g-footer__menu">
          <h4 class="g-footer__title">Help Us</h4>
          <a href="#" class="g-footer__link">Volunteer</a>
          <a href="#" class="g-footer__link">Sponsor Us</a>
        </div>
        <div class="g-footer__menu">
          <h4 class="g-footer__title">Follow Us</h4>
          <a href="#" class="g-footer__link">Twitter</a>
          <a href="#" class="g-footer__link">Facebook</a>
          <a href="#" class="g-footer__link">Instagram</a>
        </div>
      </div>
    </footer>
