{{!-- pages/index.hbs --}}
{{#> layouts/default}}
  {{#*inline "hero-block"}}
    <div class="l-section l-section--full-bleed">
      {{> components/hero}}
    </div>
  {{/inline}}
  {{#*inline "content-block"}}
    <div class="c-speakers-group l-section">
      <div class="o-container">
        <h2 class="b-section-heading">Featured Speakers</h2>
        <div class="l-grid l-grid--3-up">
          <div class="l-grid__item">
            {{> components/speaker speaker-name="Jen Simmons" speaker-image="jen-simmons.jpg" speaker-title="Keynote Address"}}
          </div>
          <div class="l-grid__item">
            {{> components/speaker speaker-name="Rachel Andrew" speaker-image="rachel-andrew.jpg" speaker-title="Keynote Address"}}
          </div>
          <div class="l-grid__item">
            {{> components/speaker speaker-name="Chris Coyier" speaker-image="chris-coyier.jpeg" speaker-title="Featured Speaker"}}
          </div>
          <div class="l-grid__item">
            {{> components/speaker speaker-name="Jen Simmons" speaker-image="jen-simmons.jpg" speaker-title="Keynote Address"}}
          </div>
          <div class="l-grid__item">
            {{> components/speaker speaker-name="Rachel Andrew" speaker-image="rachel-andrew.jpg" speaker-title="Keynote Address"}}
          </div>
          <div class="l-grid__item">
            {{> components/speaker speaker-name="Chris Coyier" speaker-image="chris-coyier.jpeg" speaker-title="Featured Speaker"}}
          </div>
        </div>
        {{> components/button button-classes="c-button--full c-button--accent" button-text="Schedule →"}}
      </div>
    </div>
  {{/inline}}
{{/layouts/default}}

