{{!-- pages/index.hbs --}}
{{#> layouts/default}}
  {{#*inline "hero-block"}}
    <div class="l-section l-section--full-bleed l-section--first">
      {{> components/hero}}
    </div>
  {{/inline}}
  {{#*inline "content-block"}}
    <div class="c-speakers-group l-section">
      <div class="o-container">
        <h2 class="b-section-heading">Featured Speakers</h2>
        {{> components/speaker speaker-name="Jen Simmons" speaker-image="jen-simmons.jpg" speaker-title="Keynote Address"}}
        {{> components/speaker speaker-name="Chris Coyier" speaker-image="chris-coyier.jpeg" speaker-title="Featured Speaker"}}
      </div>
    </div>
  {{/inline}}
{{/layouts/default}}

