$lt-bg-color: $color--white;
$lt-color: $color--grey-222;

.c-nav .c-nav__group {
  margin: 0;
}

// Primary Navigation
//
// The top navigation on the site.
//
// Markup: nav--primary.hbs
//
// Styleguide Navigation.Primary
.c-nav--primary {
  @include clearfix;

  .c-nav__group {
    float: right;
  }

  .c-nav__item {
    float: left;
  }

  .c-nav__link {
    display: inline-block;
    padding: 26px 17px;
    transition: box-shadow 500ms ease, color 300ms ease;
    color: $lt-color;

    &:hover {
      box-shadow: inset 0 3px 0 0 $t-color--hover;
    }
  }

  .c-nav__item.is-active .c-nav__link {
    color: $t-color--active;
    box-shadow: inset 0 3px 0 0 $t-color--active;
  }
}
