// Don't display markup for colors since we are just showing swatches.
// scss-lint:disable IdSelector
#kssref-colors,
#kssref-tokens-colors,
#kssref-tokens-dimensions {
  .kss-markup {
    display: none;
  }
}
// scss-lint:enable IdSelector

.sg-swatch-group {
  display: flex;
  flex-wrap: wrap;
}

.sg-swatch {
  margin: 0 20px 40px 0;
  text-align: center;
}

  .sg-swatch__preview {
    @include size(300px 150px);
    margin: 0 auto;
    border: 1px solid $t-color--dark;
  }

  .sg-swatch__details {
    padding-top: 10px;
    font-family: monospace;
    font-size: 16px;
    white-space: nowrap;

    &::before,
    &::after {
      display: block;
    }
  }

@mixin swatch($color-name, $color-map, $variable-prefix: '$color--') {
  .sg-swatch[data-color-name='#{$color-name}'] {
    .sg-swatch__preview {
      background-color: map-get($color-map, $color-name);
    }

    .sg-swatch__details {
      &::before {
        content: '#{map-get($color-map, $color-name)}';
      }

      &::after {
        content: '#{$variable-prefix}#{$color-name}';
      }
    }
  }
}

@each $color-name in map-keys($sg-colors) {
  @include swatch($color-name, $sg-colors);
}

@each $color-name in map-keys($sg-tokens--color) {
  @include swatch($color-name, $sg-tokens--color, '$t-');
}

