.sg-variable {
  font-family: monospace;
  font-size: 16px;
  line-height: 1.4;
}

@mixin variable($name, $map, $prefix: '$t-') {
  .sg-variable {
    &[data-variable-name='#{$name}'] {
      &::before {
        content: '#{$prefix}#{$name}';
      }

      &::after {
        content: ': #{map-get($map, $name)}';

        @if str-slice($name, 0, 13) == 'font-family--' {
          font-family: #{map-get($map, $name)};
        }
      }
    }
  }
}

@each $variable-name in map-keys($sg-tokens--font) {
  @include variable($variable-name, $sg-tokens--font);
}

@each $variable-name in map-keys($sg-tokens--dimension) {
  @include variable($variable-name, $sg-tokens--dimension);
}
