// Don't display markup for variables since we are just showing names/values.
// scss-lint:disable IdSelector
#kssref-sass-variables .kss-markup {
  display: none;
}
// scss-lint:enable IdSelector

.sg-variable {
  font-family: monospace;
  font-size: 16px;
  line-height: 1.4;
}

@mixin variable($name, $map, $prefix: '$') {
  .sg-variable {
    &[data-variable-name='#{$name}'] {
      &::before {
        content: '#{$prefix}#{$name}';
      }

      &::after {
        content: ': #{map-get($map, $name)}';

        @if str-slice($name, 0, 13) == 'font-family--' {
          font-family: #{map-get($map, $name)};
        }
      }
    }
  }
}

@each $variable-name in map-keys($sg-variables) {
  @include variable($variable-name, $sg-variables);
}

@each $variable-name in map-keys($sg-tokens) {
  @include variable($variable-name, $sg-tokens, '$t-');
}
