// Don't display markup for variables since we are just showing names/values.
// scss-lint:disable IdSelector
#kssref-sass-variables .kss-markup {
  display: none;
}
// scss-lint:enable IdSelector

.sg-variable {
  font-family: monospace;
  font-size: 16px;
  line-height: 1.4;
}

@each $variable-name in map-keys($sg-variables) {
  .sg-variable {
    &[data-variable-name='#{$variable-name}'] {
      &::before {
        content: '$#{$variable-name}';
      }

      &::after {
        content: ': #{map-get($sg-variables, $variable-name)}';

        @if str-slice($variable-name, 0, 13) == 'font-family--' {
          font-family: #{map-get($sg-variables, $variable-name)};
        }
      }
    }
  }
}
