    <nav class="c-nav c-nav--primary">
      <ul class="c-nav__group">
        <li class="c-nav__item is-active"><a href="#Speakers" class="c-nav__link">Speakers</a></li>
        <li class="c-nav__item"><a href="#Details" class="c-nav__link">Details</a></li>
        <li class="c-nav__item"><a href="#HotelVenue" class="c-nav__link">Hotel &amp; Venue</a></li>
        <li class="c-nav__item"><a href="#Sponsors" class="c-nav__link">Sponsers</a></li>
        <li class="c-nav__item"><a href="#Register" class="c-nav__link">Register</a></li>
      </ul>
    </nav>

