// Hero Component
//
// The hero banner.
//
// Markup: hero.hbs
//
// Styleguide: Components.Hero
.c-hero {
  @include padding($t-section-padding null);
  background-attachment: scroll, scroll, scroll;
  background-color: $t-brand-color--primary;
  background-image: url('images/texture.png'), url('images/texas.svg'), linear-gradient(0, $t-brand-color--primary, $t-brand-color--secondary);
  background-repeat: repeat, no-repeat, repeat;
  background-position: 0 0, 50% 50%, 0 0;
  background-size: 200px, cover, auto;
}

.c-hero__body,
.c-hero__media {
  @include span-columns(6);
}

.c-hero__title,
.c-hero__description {
  color: $t-text-color--reverse;
  text-shadow: 0 1px 0 change-color($t-color--dark, $alpha: 0.23);
}

.c-hero__title {
  $font-size: 38px;
  @include margin(0 null em(20px, $font-size));
  @include font-weight(bold);
  font-size: em($font-size);
  line-height: (44px / $font-size);

  @include accent-font-loaded {
    font-family: $t-font-family--accent;
  }

  time {
    display: block;
  }
}

.c-hero__description {
  $font-size: 20px;
  @include font-weight(light);
  margin-bottom: em(26px, $font-size);
  font-size: em($font-size);
  line-height: (26px / $font-size);
}

.c-hero__spot {
  border: 3px solid $t-text-color--reverse;
  border-radius: 3px;
}
