// Sass Mixins
//
// Styleguide Sass.Mixins

// Font Mixins
//
// Styleguide Sass.Mixins.Fonts

// primary-font-loaded
//
// Selector wrapper to apply styles only when the primary font is loaded.
//
// Compatible in all browsers
//
// Styleguide Sass.Mixins.Fonts.Primary Font Loaded
@mixin primary-font-loaded {
  @at-root .html__font-loaded--primary #{&} {
    @content;
  }
}

// secondary-font-loaded
//
// Selector wrapper to apply styles only when the secondary font is loaded.
//
// Compatible in all browsers.
//
// Styleguide Sass.Mixins.Fonts.Secondary Font Loaded
@mixin secondary-font-loaded {
  @at-root .html__font-loaded--secondary #{&} {
    @content;
  }
}

// accent-font-loaded
//
// Selector wrapper to apply styles only when the accent font is loaded.
//
// Compatible in all browsers.
//
// Styleguide Sass.Mixins.Fonts.Accent Font Loaded
@mixin accent-font-loaded {
  @at-root .html__font-loaded--accent #{&} {
    @content;
  }
}

@mixin font-weight($weight: normal) {
  @if $weight == light {
    font-weight: 300;
  } @else if $weight == normal {
    font-weight: 400;
  } @else if $weight == bold {
    font-weight: 500;
  } @else {
    @error "Unknown $weight, was #{$weight}"
  }
}
