// Sass Variables
//
// Sass variables and their values
//
// Markup:
// <div class="sg-variable-group">
//   <div class="sg-variable" data-variable-name="font-family--base"></div>
//   <div class="sg-variable" data-variable-name="font-family--primary"></div>
//   <div class="sg-variable" data-variable-name="font-family--accent"></div>
//   <div class="sg-variable" data-variable-name="font-size--base"></div>
//   <div class="sg-variable" data-variable-name="line-height--base"></div>
// </div>
//
// Styleguide Sass.Variables
$font-family--base: Arial, sans-serif;
$font-family--primary: Roboto;
$font-family--accent: Oswald;
$font-size--base: 16px;
$line-height--base: 22px;

// Put variables in a map for ease of output in styleguide
$sg-variables: (
  font-family--base: $font-family--base,
  font-family--primary: $font-family--primary,
  font-family--accent: $font-family--accent,
  font-size--base: $font-size--base,
  line-height--base: $line-height--base,
);

// Colors
//
// All colors should be referenced by variable name.
//
// Markup:
// <div class="sg-swatch-group">
//   <div class="sg-swatch" data-color-name="text">
//    <div class="sg-swatch__preview"></div>
//    <div class="sg-swatch__details"></div>
//   </div>
//   <div class="sg-swatch" data-color-name="nav">
//    <div class="sg-swatch__preview"></div>
//    <div class="sg-swatch__details"></div>
//   </div>
//   <div class="sg-swatch" data-color-name="active">
//    <div class="sg-swatch__preview"></div>
//    <div class="sg-swatch__details"></div>
//   </div>
//   <div class="sg-swatch" data-color-name="hover">
//    <div class="sg-swatch__preview"></div>
//    <div class="sg-swatch__details"></div>
//   </div>
// </div>
//
// Styleguide Colors
$color--text: #666;
$color--nav: #222;
$color--active: #4dbd90;
$color--hover: hsla(0, 0%, 71%, 0.5);

// Put colors in a map for ease of output in styleguide
$sg-colors: (
 text: $color--text,
 nav: $color--nav,
 active: $color--active,
 hover: $color--hover,
);
