// Sass Variables
//
// Styleguide Sass.Variables
$font-family--base: Arial, sans-serif;
$font-family--primary: Roboto;
$font-family--accent: Oswald;
$font-size--base: 16px;
$line-height--base: 22px;

// Colors
//
// Markup:
// <div class="sg-swatch-group">
//   <div class="sg-swatch sg-swatch--text">
//    <div class="sg-swatch__preview"></div>
//    <div class="sg-swatch__details"></div>
//   </div>
//   <div class="sg-swatch sg-swatch--nav">
//    <div class="sg-swatch__preview"></div>
//    <div class="sg-swatch__details"></div>
//   </div>
//   <div class="sg-swatch sg-swatch--active">
//    <div class="sg-swatch__preview"></div>
//    <div class="sg-swatch__details"></div>
//   </div>
//   <div class="sg-swatch sg-swatch--hover">
//    <div class="sg-swatch__preview"></div>
//    <div class="sg-swatch__details"></div>
//   </div>
// </div>
//
// Styleguide Colors
$color--text: #666;
$color--nav: #222;
$color--active: #4dbd90;
$color--hover: hsla(0, 0%, 71%, 0.5);

// Put colors in a map for ease of output in styleguide
$colors: (
 text: $color--text,
 nav: $color--nav,
 active: $color--active,
 hover: $color--hover,
);
