// Primary Navigation
//
// The top navigation on the site.
//
// Markup:
// <nav class="c-nav c-nav--primary">
//   <ul class="c-nav__group">
//     <li class="c-nav__item is-active"><a href="#Speakers" class="c-nav__link">Speakers</a></li>
//     <li class="c-nav__item"><a href="#Details" class="c-nav__link">Details</a></li>
//     <li class="c-nav__item"><a href="#HotelVenue" class="c-nav__link">Hotel &amp; Venue</a></li>
//     <li class="c-nav__item"><a href="#Sponsors" class="c-nav__link">Sponsers</a></li>
//     <li class="c-nav__item"><a href="#Register" class="c-nav__link">Register</a></li>
//   </ul>
// </nav>
//
// Styleguide Navigation.Primary
.c-nav--primary {
  @include clearfix;

  .c-nav__group {
    float: right;
  }

  .c-nav__item {
    float: left;
  }

  .c-nav__link {
    padding: 26px 17px;
    transition: box-shadow 500ms ease, color 300ms ease;
    color: $color--nav;

    &:hover {
      box-shadow: inset 0 3px 0 0 $color--hover;
    }
  }

  .c-nav__item.is-active .c-nav__link {
    color: $color--active;
    box-shadow: inset 0 3px 0 0 $color--active;
  }
}
